* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
     
         font-family: "Changa", sans-serif;
        
}

:root{
    --main-color:#b407f9;
    --second-color: #6A0094 ;
    --section-padding: 60px;
    --background-color: #f6f6f6 ;
    --black:#101624;
    --card-height: 330px;
    --card-width: calc(var(--card-height) / 1.5);
    --border-carve: 50px;
  
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
    
}

@media (min-width:768px){
    .container{
        width: 750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
        
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
        
    }
}


@media (min-width:1200px){
    .container2{
        width: 100%;
        
    }
}

/*  */

.special-heading {
    color: #e6e6e6;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    letter-spacing: 4px;
    

}

@media (max-width:767px){
    .special-heading{
        font-size: 40px;
        letter-spacing: 2px;
    }
    
    .special-heading + p {
        margin: -10px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .special-heading {
        font-size: 70px;
    }
}



.grid-3 {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}


/* header start */


.header{
    padding: 20px;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header  .logo {
    color: var(--second-color);
    letter-spacing: 1.8px;
    font-family: "Fira Sans", sans-serif;
}

.header .a_edite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .a_edite .arab  {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius:25%;
    border: 2px solid var(--second-color);
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.header .a_edite .arab a {
    text-decoration: none;
}

.header .a_edite .arab div {
    color: var(--second-color);
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .a_edite .arab:hover {
    background-color: var(--second-color);
}

.header .a_edite .arab:hover div {
    color: #fff;
}



@media (max-width:767px){
    .header .logo {
        margin-left: -15px;
    }
    .header .links {
        margin-right: -15px;
    }
}


.header  .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header  .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header  .icon span {
 background: #333;
 margin-bottom: 5px;
 height: 3px;

}


.header  .icon span:first-child  {
 width: 100%;
}

.header  .icon span:nth-child(2)  {
 width: 60%;
 transition: 1s;
}

.header  .icon span:last-child  {
 width: 100%;
}

.header .links ul {
    background: #eee;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    min-width: 200px;
    list-style: none;
    top: calc(100% + 15px);
    border-radius: 5%;
    display: none;
    z-index: 1;
     direction: rtl;
}


.header .links:hover  ul{
    display: block;
}
    



.header .links ul::before {
    content: "";
    position: absolute;
    border: solid 10px;
    border-color: transparent transparent     
                  #eee transparent ;
    right: 5px;
    top: -20px;
    
    
}

.header .links  a {
    text-decoration: none;
    color: var(--second-color);
    text-transform: capitalize;
}

 .header .links ul li a {
    display: block;
    padding: 15px;
    transition: 1s;
   }
   
.header .links ul a:hover {
    padding-left: 25px;
}

 .header .links ul li:not(:last-child) a {
    border-bottom: solid #ddd 1px;
 }

@media (max-width: 767px) {
    .header .container {
        flex-direction: row;
        padding: 0 10px;
    }
    .header .logo {
        font-size: 1.2rem;
    }
}



/* header end */



/* landing start */

.landing {
    background: url("../images/backgrounds/1.jpg") ;
    width: 100%;
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}


.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.landing .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 520px ;
    max-width: 100%;
    text-align: center;
}

.landing .intro h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--background-color);
    text-transform: capitalize;
}

.landing .intro p {
    font-weight: 500;
    color: var(--background-color);
    font-size: 14px;
    line-height: 1.9;
    text-transform: capitalize;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .landing .intro h1 {
        font-size: 35px;
    }
    .landing .intro p {
        font-size: 12px;
    }
}


/* landing end */







/* galaxy start */



.about {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    margin-top: 60px;
    width: 100%;
    direction: rtl;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .image {
    flex-basis: 45%;
    height: 550px;
    position: relative;
    z-index: 2;
}

.about .image img {
    width: 100%;
    height: 100%;
    border-radius: 0 50px 50px 0;
    object-fit: cover;
}

.about .text {
    flex-basis: 50%;
    padding: 40px;
    background-color: var(--main-color);
    color: #fff;
    position: relative;
    border-radius: 50px 0 0 50px;
    text-align: right;
}

.about .text .about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about .text hr {
    width: 100px;
    border: none;
    height: 2px;
    background-color: #fff;
    margin-bottom: 20px;
}

.about .text p {
    font-size: 17px;
    line-height: 1.8;
}

@media (max-width: 991px) {
    .about .container {
        flex-direction: column;
        text-align: center;
    }
    .about .image {
        flex-basis: 100%;
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
    }
    .about .image img {
        border-radius: 50px;
    }
    .about .text {
        flex-basis: 100%;
        width: 100%;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
    }
    .about .text hr {
        margin: 0 auto 20px;
    }
}










/* galaxy end */







/* galaxy start */



.galaxy {
    padding: var(--section-padding) 0;
    width: 100%;
}

.galaxy .container2 {
    position: relative;
    text-align: center;
}

.galaxy .img-galaxy {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 25px;
    margin: 30px 0;
}

.galaxy .galaxy-link {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    z-index: 5;
    transition: 0.3s;
}

.galaxy .galaxy-link::after {
    content: "";
    display: block;
    width: 2px;
    height: 50px;
    background-color: #fff;
    margin: 10px auto 0;
    transition: 0.3s;
}

.galaxy .galaxy-link:hover {
    color: var(--main-color);
}

.galaxy .galaxy-link:hover::after {
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .galaxy .galaxy-link {
        font-size: 22px;
        top: 65%;
    }
}




/* galaxy end */


/* features start */


.video {
  position: relative;
  
}


@media (max-width:1023px){
    .video video {
        display: none !important;
    }
    .video::before {
        z-index: 1;
    }
    .video {
        background: url("../images/backgrounds/1.jpg") center center;
        background-size: cover;
    }
    .features {
        position: relative !important;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        height: auto !important;
        z-index: 2;
    }
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}


.video video {
  width: 100%;
  
 z-index: -1; 
}

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.features .feat {
  padding: 30px;
  text-align: center;
  position: relative;
}

.features .feat i {
  font-size: 100px;
  color: var(--main-color);
  margin-top: 30px;
}

@media (max-width: 1023px) {
    .features .feat {
        padding: 40px 20px !important;
    }
    .features .feat i {
        font-size: 80px !important;
        margin-top: 10px;
    }
    .features .feat h2 {
        font-size: 24px !important;
    }
}


.features .feat h2 {
  font-weight: 600;
  margin: 30px 0;
  color: var(--background-color);
  line-height: 1.8;
  letter-spacing: 1.9px;
}

 /* features end */




/* planets start */

.planet-card {
    padding-bottom: 200px;
    padding-top: var(--section-padding);
    background-color: var(--background-color);
}

.planet-card .special-heading {
    color: var(--main-color);
}

.planet-card .planet-card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    justify-items: center;
}

.planet-card .card_title {
    margin-bottom: 60px;
    margin-top: 60px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 40px 50px;
    border-radius: var(--border-carve);
  }
.cover-image{
    width: 100%;
    height: 100%;
    border-radius: var(--border-carve);

}


.wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100% ;
    z-index: -1;
    border-radius: var(--border-carve);

}
.card:hover .wrapper{
    transform: perspective(900px) translateY(-5%) rotateX(55deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: var(--border-carve);
    
}

.wrapper::before {
     background-color: rgb(0 0 0 / 100%);
}
.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5)68%,
        rgba(12, 13, 19) 97%
    );
    border-radius: var(--border-carve);
}
.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19)97%
    );
    border-radius: var(--border-carve);
}
.card:hover .wrapper::before,
.wrapper::after{
    opacity: 1;
}
.card:hover .wrapper::after{
    height: 120px;
}
.title {
    width: 100%;
    transition: transform 0.5s;
    border-radius: var(--border-carve);
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  .character {
    width: 100%;
    height: 100% ;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-carve);
  }
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  




/* planets end */




/* chatbot start */

.chatbot {
    padding-bottom: 200px;
    padding-top: 50px;
    background: var(--main-color) ;
    margin-bottom: 200px;
}


.chatbot .chatbot-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
}

.chatbot .chatbot-title {
    color: #fff;
    margin-top: 100px;
}
.chatbot a {
    width: 280px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.chatbot a:hover {
    background-color: var(--second-color);
    color: #fff;
}

@media (max-width: 767px) {
    .chatbot .chatbot-title {
        font-size: 35px;
        margin-top: 50px;
    }
    .chatbot .chatbot-content {
        margin-top: 60px;
    }
    .chatbot {
        padding-bottom: 100px;
        margin-bottom: 100px;
    }
}






/* chatbot end */





/*  start footer   */

.footer {
    background: var(--second-color);
    color: #fff;
    font-size: 18px;
    padding: 30px 10px ;
    text-align: center;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}


/* end  footer  */


