* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
     
         font-family: "Changa", sans-serif;
        
}

:root{
    --main-color:#b407f9;
    --second-color: #6A0094 ;
    --section-padding: 60px;
    --background-color: #f6f6f6 ;
    --black:#101624;
    --card-height: 330px;
    --card-width: calc(var(--card-height) / 1.5);
    --border-carve: 50px;
  
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
    
}

@media (min-width:768px){
    .container{
        width: 750px;
    }
}

@media (min-width:992px){
    .container{
        width: 970px;
        
    }
}

@media (min-width:1200px){
    .container{
        width: 1170px;
        
    }
}

/*  */

.special-heading {
    color: #e6e6e6;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    letter-spacing: 4px;
    

}

@media (max-width:767px){
    .special-heading{
        font-size: 50px;
    }
    
    .special-heading + p {
        margin: -20 ;
    }
}



.grid-3 {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}


/* header start */


.header{
    padding: 20px;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header  .logo {
    color: var(--second-color);
    letter-spacing: 1.8px;
    font-family: "Fira Sans", sans-serif;
}

.header .a_edite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .a_edite .arab  {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius:25%;
    border: 2px solid var(--second-color);
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.header .a_edite .arab a {
    text-decoration: none;
}

.header .a_edite .arab div {
    color: var(--second-color);
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .a_edite .arab:hover {
    background-color: var(--second-color);
}

.header .a_edite .arab:hover div {
    color: #fff;
}



@media (max-width:767px){
    .header .logo {
        margin-left: -15px;
    }
    .header .links {
        margin-right: -15px;
    }
}


.header  .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header  .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header  .icon span {
 background: #333;
 margin-bottom: 5px;
 height: 3px;

}


.header  .icon span:first-child  {
 width: 100%;
}

.header  .icon span:nth-child(2)  {
 width: 60%;
 transition: 1s;
}

.header  .icon span:last-child  {
 width: 100%;
}

.header .links ul {
    background: #eee;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    min-width: 200px;
    list-style: none;
    top: calc(100% + 15px);
    border-radius: 5%;
    display: none;
    z-index: 1;
     direction: rtl;
}


.header .links:hover  ul{
    display: block;
}
    



.header .links ul::before {
    content: "";
    position: absolute;
    border: solid 10px;
    border-color: transparent transparent     
                  #eee transparent ;
    right: 5px;
    top: -20px;
    
    
}

.header .links  a {
    text-decoration: none;
    color: var(--second-color);
    text-transform: capitalize;
}

 .header .links ul li a {
    display: block;
    padding: 15px;
    transition: 1s;
   }
   
.header .links ul a:hover {
    padding-left: 25px;
}

 .header .links ul li:not(:last-child) a {
    border-bottom: solid #ddd 1px;
 }



/* header end */



/* landing start */

.landing {
    background: url("../images/backgrounds/1.jpg") ;
    width: 100%;
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}


.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.landing .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 520px ;
    max-width: 100%;
    text-align: center;
}

.landing .intro h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--background-color);
    text-transform: capitalize;
}

.landing .intro p {
    font-weight: 500;
    color: var(--background-color);
    font-size: 14px;
    line-height: 1.9;
    text-transform: capitalize;
    margin-top: 10px;
}


/* landing end */







/* galaxy start */



.about {
    padding-bottom: var(--section-padding);
    padding-top:calc(var(--section-padding) + 60px);
    margin-top: 100px ;
    margin-bottom: 0px;
    width: 100%;
    direction: rtl;


}


.about .about-content {
    width: 100%;
    
}


.about .image {
    width: 45%;
    height: 550px;
    margin: 80px 0px;
    position: relative;
    top: 0;
    left: 0 ;
    z-index: 2;
    
}


.about .image img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px ;
    z-index: 1;

    
}


.about .text{
    width: 45%;
    position: absolute;
    top: 1210px;
    left: 50px;
    z-index: 1;
    text-align: right;
    direction: rtl;


}


.about .text::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
    top: -100px;
    left: -110px;
    z-index: -1;
    padding: 100px 200px;

}

.about .text hr {
    width: 40%;
    margin: 20px 0px;
    background-color: #fff;
    height: 1.1px;
    
}


.about .text .about-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.8px;
     direction: ltr;
}

.about .text p {
    font-size: 17px;
    line-height: 1.8;
      color: #fff;
}










/* galaxy end */







/* galaxy start */



.galaxy {
    padding-bottom: var(--section-padding);
    padding-top:calc(var(--section-padding) + 60px);
    margin-top: 0px ;
    margin-bottom: 200px;
    width: 100%;
    
}

.galaxy .special-heading {
    color: var(--main-color);
    margin-bottom: 40px;
}

.galaxy .img-galaxy {
    width: 100%;
    height: 600px;
    margin: 80px 0px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 25px;
}

.galaxy a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    z-index: 15;
     top: -430px;
     left: 380px;
}

.galaxy a::before {
    content: "";
    position: absolute;
    height: 80px;
    width: 2px;
    left: 50%;
    top: 110%;
    background-color: #fff;
}

.galaxy a:hover::before {

     background-color: var(--main-color);
}




/* galaxy end */


/* features start */


.video {
  position: relative;
  
}


@media (max-width:1023px){
    .video{
        display: none;
    }
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}


.video video {
  width: 100%;
  
 z-index: -1; 
}

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 8%;

}


.features .feat {
  padding: 20%;
  text-align: center;
  position: relative;

}
.features .feat i {
  font-size: 120px;
  color: var(--main-color);
  margin-top: 30px;
}


.features .feat h2 {
  font-weight: 600;
  margin: 30px 0;
  color: var(--background-color);
  line-height: 1.8;
  letter-spacing: 1.9px;
}

 /* features end */




/* planets start */

.planet-card {
    padding-bottom: 200px;
    padding-top: var(--section-padding);
    background-color: var(--background-color);
}

.planet-card .special-heading {
    color: var(--main-color);
}

.planet-card .planet-card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 65px;
    margin-top: 150px;
}

.planet-card .card_title {
    margin-bottom: 170px;
    margin-top: 140px ;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 40px 50px;
    border-radius: var(--border-carve);
  }
.cover-image{
    width: 100%;
    height: 100%;
    border-radius: var(--border-carve);

}


.wrapper{
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100% ;
    z-index: -1;
    border-radius: var(--border-carve);

}
.card:hover .wrapper{
    transform: perspective(900px) translateY(-5%) rotateX(55deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: var(--border-carve);
    
}

.wrapper::before {
     background-color: rgb(0 0 0 / 100%);
}
.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5)68%,
        rgba(12, 13, 19) 97%
    );
    border-radius: var(--border-carve);
}
.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19)97%
    );
    border-radius: var(--border-carve);
}
.card:hover .wrapper::before,
.wrapper::after{
    opacity: 1;
}
.card:hover .wrapper::after{
    height: 120px;
}
.title {
    width: 100%;
    transition: transform 0.5s;
    border-radius: var(--border-carve);
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  .character {
    width: 100%;
    height: 100% ;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
    border-radius: var(--border-carve);
  }
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  




/* planets end */




/* chatbot start */

.chatbot {
    padding-bottom: 200px;
    padding-top: 50px;
    background: var(--main-color) ;
    margin-bottom: 200px;
}


.chatbot .chatbot-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
}

.chatbot .chatbot-title {
    color: #fff;
    margin-top: 100px;
}
.chatbot a {
    width: 40%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: var(--main-color);
    font-size: 20px;
    text-decoration: none;
}






/* chatbot end */





/*  start footer   */

.footer {
    background: var(--second-color);
    color: #fff;
    font-size: 18px;
    padding: 30px 10px ;
    text-align: center;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}


/* end  footer  */


